[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SampleSizeDiagnostics"]
	path = SampleSizeDiagnostics
	url = https://github.com/cran/SampleSizeDiagnostics
[submodule "SampleSizeSingleArmSurvival"]
	path = SampleSizeSingleArmSurvival
	url = https://github.com/cran/SampleSizeSingleArmSurvival
